<div class="comments col-6 mx-auto">
    <h3 class='text-center'>Comments</h3>
    {{#each this}}
    <section class="comment bg-secondary text-light rounded-1 my-2 p-3">
        <div class="meta">
            {{ user.username }}
            |
            {{ format_date created_at }}
        </div>
        <div class="text">
            {{comment}}
        </div>
    </section>
    {{/each}}
</div>