<div class='container text-center my-5'>
  <div class='col-md-6 col-8 mx-auto'>
    <form class='login-form form-control'>
      <div>
        <label for='email-login' class='form-label fs-5'>Email</label>
        <br/>
        <input type='text' id='email-login' class='form-control'/>
      </div>
      <div>
        <label for='password-login' class='form-label fs-5'>Password</label>
        <br/>
        <input type='password' id='password-login' class='form-control'/>
      </div>
      <br/>
      <button type='submit' class='btn btn-success'>Login</button>
    </form>
    <br/>
    <form class='signup-form form-control'>
      <div>
        <label for='username-signup' class='form-label fs-5'>Username</label>
        <br/>
        <input type='text' id='username-signup' class='form-control'/>
      </div>
      <div>
        <label for='email-signup' class='form-label fs-5'>Email</label>
        <br/>
        <input type='text' id='email-signup' class='form-control'/>
      </div>
      <div>
        <label for='password-signup' class='form-label fs-5'>Password</label>
        <br/>
        <input type='password' id='password-signup' class='form-control'/>
      </div>
      <br/>
      <button type='submit' class='btn btn-success'>Signup</button>
    </form>
  </div>
</div>  
<script src='/javascript/login.js'></script>
