{{> post-info post }}
{{> comments post.comments }}
{{#if loggedIn}}
<div class='col-4 mx-auto text-center'>  
  <form class='comment-form form-control'>
    <div>
      <label for='comment-body' class='form-label'>Leave a comment</label>
      <textarea name='comment-body' class='form-control'></textarea>
    </div>
    <div id='invisidiv'>
      <input type='text' name='comment-owner' value='{{user_id}}'/>
    </div>
    <button type='submit' class='btn btn-success mt-2'>add comment</button>
  </form>
  {{/if}}
</div>
{{#if loggedIn}}
<script src='/javascript/comment.js'></script>
{{/if}}