
<a href='/dashboard'> &larr; To dashboard</a>
{{> post-info post }}
{{> comments post.comments }}
{{#if loggedIn}}
<form class='comment-form form-control'>
  <div>
    <textarea name='comment-body' class='form-control'></textarea>
  </div>
  <div id='invisidiv'>
    <input type='text' name='comment-owner' value='{{user_id}}'/>
  </div>
  <div>
    <button type='submit'>add comment</button>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src='/javascript/comment.js'></script>
{{/if}}